<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healt.cloud.checkup.mapper.appointmentReg.PersonDeptViewMapper">

    <select id="findPersonDeptInfoTotal" parameterType="com.healt.cloud.checkup.queryReport.vo.PersonDeptInfoDictVo" resultType="com.healt.cloud.checkup.queryReport.vo.PersonDeptInfoVo">
        select a.hospital_id hospitalId,
        a.person_id personId,
        a.name,
        a.unit_id unitId,
        a.sex,
        b.unit_name unitName,
        a.PHONE_NUMBER phoneNumber,
        b.PERSON_VISIT_ID personVisitId,
        a.id_no idNo,
        a.barthday,
        b.appoints_date appointsDate,
        b.finished_sign finishedSign,
        b.finished_date finishedDate,
        b.finished_id finishedId,
        b.finished_name finishedName,
        b.group_id groupId,
        b.department,
        b.person_charge personCharge,
        b.age,
        b.exam_class examClass,
        b.result_status resultStatus,
        b.discount,
        b.build_date buildDate,
        b.unit_id userId,
        b.user_name userName,
        b.before_sign beforeSign,
        b.before_date beforeDate,
        b.before_id beforeId,
        b.before_name beforeName,
        b.blood_date bloodDate,
        b.blood_id bloodId,
        b.blood_name bloodName,
        b.blood_sign bloodSign,
        b.print_sign printSign,
        b.print_date printDate,
        b.print_id printId,
        b.print_name printName,
        b.print_type printType,
        b.retrieve_sign retrieveSign,
        b.retrieve_date retrieveDate,
        b.retrieve_id retrieveId,
        b.retrieve_name retrieveName,
        b.final_docoter finalDocoter,
        b.final_name finalName,
        b.FINAL_DATE finalDate,
        b.first_docoter firstDocoter,
        b.first_date firstDate,
        b.first_name firstName
        from hc_person_info a, hc_person_visit_info b
        where a.hospital_id = b.hospital_id
        and a.person_id = b.person_id
        and b.hospital_id = #{hospitalId, jdbcType=VARCHAR}
        <if test="unitId != '' and unitId != null">
            and a.unit_id = #{unitId, jdbcType=VARCHAR}
        </if>
        <if test="unitVisitId != '' and unitVisitId != null">
            and b.unit_visit_id = #{unitVisitId, jdbcType=VARCHAR}
        </if>
        <if test="beginDate != '' and beginDate != null">
            and b.FINAL_DATE &gt;= to_date(concat(#{beginDate},' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != '' and endDate != null">
            and b.FINAL_DATE &lt;= to_date(concat(#{endDate},' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="personId != '' and personId != null">
            and b.person_id = #{personId, jdbcType=VARCHAR}
        </if>
        <if test="personVisitId != '' and personVisitId != null">
            and b.PERSON_VISIT_ID = #{personVisitId, jdbcType=VARCHAR}
        </if>
        <if test="name != '' and name != null">
            and a.name = #{name, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findPersonDeptInfo" parameterType="com.healt.cloud.checkup.queryReport.vo.PersonDeptInfoDictVo" resultType="com.healt.cloud.checkup.queryReport.vo.PersonDeptInfoVo">
        SELECT *
        FROM (
        SELECT TMP.*, ROWNUM ROW_ID
        FROM (
        select a.hospital_id hospitalId,
        a.person_id personId,
        a.name,
        a.unit_id unitId,
        a.sex,
        b.unit_name unitName,
        a.PHONE_NUMBER phoneNumber,
        b.PERSON_VISIT_ID personVisitId,
        a.id_no idNo,
        a.barthday,
        b.appoints_date appointsDate,
        b.finished_sign finishedSign,
        b.finished_date finishedDate,
        b.finished_id finishedId,
        b.finished_name finishedName,
        b.group_id groupId,
        b.department,
        b.person_charge personCharge,
        b.age,
        b.exam_class examClass,
        b.result_status resultStatus,
        b.discount,
        b.build_date buildDate,
        b.unit_id userId,
        b.user_name userName,
        b.before_sign beforeSign,
        b.before_date beforeDate,
        b.before_id beforeId,
        b.before_name beforeName,
        b.blood_date bloodDate,
        b.blood_id bloodId,
        b.blood_name bloodName,
        b.blood_sign bloodSign,
        b.print_sign printSign,
        b.print_date printDate,
        b.print_id printId,
        b.print_name printName,
        b.print_type printType,
        b.retrieve_sign retrieveSign,
        b.retrieve_date retrieveDate,
        b.retrieve_id retrieveId,
        b.retrieve_name retrieveName,
        b.final_docoter finalDocoter,
        b.final_name finalName,
        b.FINAL_DATE finalDate,
        b.first_docoter firstDocoter,
        b.first_date firstDate,
        b.first_name firstName
        from hc_person_info a, hc_person_visit_info b
        where a.hospital_id = b.hospital_id
        and a.person_id = b.person_id
        and b.hospital_id = #{hospitalId, jdbcType=VARCHAR}
        <if test="unitId != '' and unitId != null">
            and a.unit_id = #{unitId, jdbcType=VARCHAR}
        </if>
        <if test="unitVisitId != '' and unitVisitId != null">
            and b.unit_visit_id = #{unitVisitId, jdbcType=VARCHAR}
        </if>
        <if test="beginDate != '' and beginDate != null">
            and b.FINAL_DATE &gt;= to_date(concat(#{beginDate},' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != '' and endDate != null">
            and b.FINAL_DATE &lt;= to_date(concat(#{endDate},' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="personId != '' and personId != null">
            and b.person_id = #{personId, jdbcType=VARCHAR}
        </if>
        <if test="personVisitId != '' and personVisitId != null">
            and b.PERSON_VISIT_ID = #{personVisitId, jdbcType=VARCHAR}
        </if>
        <if test="name != '' and name != null">
            and a.name = #{name, jdbcType=VARCHAR}
        </if>
        ) TMP
        WHERE ROWNUM &lt;= ${pageNum*pageSize})
        WHERE ROW_ID &gt; ${(pageNum-1)*pageSize}
    </select>

    <select id="findDiagnosisRecord" resultType="com.healt.cloud.checkup.queryReport.vo.DiagnosisRecordVo">
        select rownum XH, aa.REC_CONTENT recContent, aa.REC_CLASS recClass
        from (select a.SORT_NO,
                     a.REC_CONTENT,
                     decode(a.REC_CLASS,
                            '1',
                            '疾病诊断',
                            '2',
                            '阳性发现',
                            '3',
                            '职业',
                            a.REC_CLASS) as REC_CLASS
              from HC_DIAGNOSIS_RECORD a
              where a.hospital_id = #{hospitalId, jdbcType=VARCHAR}
                and a.person_id = #{personId, jdbcType=VARCHAR}
                and a.person_visit_id = #{personVisitId, jdbcType=VARCHAR}
              order by a.sort_no asc) aa
    </select>
</mapper>