<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healt.cloud.checkup.mapper.appointmentReg.PersonQueryMapper">

    <select id="findPersonQueryTotal" parameterType="com.healt.cloud.checkup.queryReport.vo.PersonQueryDictVo" resultType="com.healt.cloud.checkup.queryReport.vo.PersonQueryVo">
        select a.person_id personId,
               a.person_visit_id personVisitId,
               a.unit_id unitId,
               a.unit_name unitName,
               b.name,
               b.nation,
               b.sex,
               b.id_no idNo,
               b.barthday,
               b.marital_status maritalStatus,
               a.group_id groupId,
               a.age,
               a.person_level personLevel,
               b.phone_number phoneNumber,
               b.address
        from hc_person_visit_info a, hc_person_info b
        where a.hospital_id = b.hospital_id
          and a.person_id = b.person_id
        <if test="unitId != '' and unitId != null">
            and a.unit_id = #{unitId, jdbcType=VARCHAR}
        </if>
        <if test="beginDate != '' and beginDate != null">
            and a.appoints_date &gt;= to_date(concat(#{beginDate},' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != '' and endDate != null">
            and a.appoints_date &lt;= to_date(concat(#{endDate},' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="name != '' and name != null">
            and b.name like '%${name}%'
        </if>
        <if test="sex != '' and sex != null">
            and b.sex = #{sex, jdbcType=VARCHAR}
        </if>
        <if test="maritalStatus != '' and maritalStatus != null">
            and b.marital_status = #{maritalStatus, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findPersonQuery" parameterType="com.healt.cloud.checkup.queryReport.vo.PersonQueryDictVo" resultType="com.healt.cloud.checkup.queryReport.vo.PersonQueryVo">
        SELECT *
        FROM (
        SELECT TMP.*, ROWNUM ROW_ID
        FROM (
        select a.person_id personId,
        a.person_visit_id personVisitId,
        a.unit_id unitId,
        a.unit_name unitName,
        b.name,
        b.nation,
        b.sex,
        b.id_no idNo,
        b.barthday,
        b.marital_status maritalStatus,
        a.group_id groupId,
        a.age,
        a.person_level personLevel,
        b.phone_number phoneNumber,
        b.address
        from hc_person_visit_info a, hc_person_info b
        where a.hospital_id = b.hospital_id
        and a.person_id = b.person_id
        <if test="unitId != '' and unitId != null">
            and a.unit_id = #{unitId, jdbcType=VARCHAR}
        </if>
        <if test="beginDate != '' and beginDate != null">
            and a.appoints_date &gt;= to_date(concat(#{beginDate},' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != '' and endDate != null">
            and a.appoints_date &lt;= to_date(concat(#{endDate},' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="name != '' and name != null">
            and b.name like '%${name}%'
        </if>
        <if test="sex != '' and sex != null">
            and b.sex = #{sex, jdbcType=VARCHAR}
        </if>
        <if test="maritalStatus != '' and maritalStatus != null">
            and b.marital_status = #{maritalStatus, jdbcType=VARCHAR}
        </if>
        ) TMP
        WHERE ROWNUM &lt;= ${pageNum*pageSize})
        WHERE ROW_ID &gt; ${(pageNum-1)*pageSize}
    </select>
</mapper>