<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healt.cloud.checkup.mapper.UsersMapper">
    <resultMap id="UserMenuRightVoResult" type="com.healt.cloud.checkup.vo.UserMenuRightVoResult">
        <result column="display_text" property="DISPLAY_TEXT" jdbcType="VARCHAR"/>
        <result column="menu_title" property="MENU_TITLE" jdbcType="VARCHAR"/>
        <result column="menu_code" property="MENU_CODE" jdbcType="VARCHAR"/>
        <result column="parent_menu_code" property="PARENT_MENU_CODE" jdbcType="VARCHAR"/>
        <result column="serial_no" property="SERIAL_NO" jdbcType="DECIMAL"/>
        <result column="form_id" property="FORM_ID" jdbcType="VARCHAR"/>
        <result column="icon_file" property="ICON_FILE" jdbcType="VARCHAR"/>
        <result column="file_name" property="FILE_NAME" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findUserMenuRight" parameterType="com.healt.cloud.checkup.vo.sys.user.UsersVo" resultMap="UserMenuRightVoResult">
        select distinct display_text,
                        menu_title,
                        menu_code,
                        parent_menu_code,
                        serial_no,
                        form_id,
                        icon_file,
                        file_name
        from (select d.display_text,
                     d.menu_title,
                     d.menu_code,
                     d.parent_menu_code,
                     d.serial_no,
                     d.form_id,
                     d.icon_file,
                     d.file_name
              from healthcheckup.user_role b, role_menu c, main_menu d
              where b.hospital_id = c.hospital_id
                and b.role_id = c.role_id
                and c.hospital_id = d.hospital_id
                and c.menu_code = d.menu_code
                and b.user_id = #{userId, jdbcType=VARCHAR}
                and d.isvisible = 1
                and b.hospital_id = #{hosId, jdbcType=VARCHAR}
              union all
              select d.display_text,
                     d.menu_title,
                     d.menu_code,
                     d.parent_menu_code,
                     d.serial_no,
                     d.form_id,
                     d.icon_file,
                     d.file_name
              from user_right_models b, main_menu d
              where b.hospital_id = d.hospital_id
                and b.menu_code = d.menu_code
                and d.isvisible = 1
                and b.user_id = #{userId, jdbcType=VARCHAR}
                and b.hospital_id = #{hosId, jdbcType=VARCHAR})
              order by serial_no
    </select>
</mapper>